#navbar {
  top: -70px;
  transition: top 0.3s;
}


div.bar1,div.bar2,div.bar3{
  width: 1.6rem;
  border-bottom-width: 3px;
}

nav a{
  border-bottom-width: 0px;
}

.scroll-downs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid black;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: black;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

body{
  background-color: #e3e3e3;


}
.social a{
  text-decoration: none;
  color: inherit;
  border:none;
  background: transparent;

}
.social a : hover{
  text-decoration: none;
  color:inherit;
  border: none;
  background:transparent;
}


.card{
  font-size: 1.0rem;
}
.card-title{
  font-size: 2.0rem;
  font-style: bold;
}

.card1{
 background: white;
border-color:rgba(0,0,0,0);
color:#04171E;
}
.card1 button{
  color:#04171E;
  border-color:#04171E;
}
.card2{
  background: white;
border-color:rgba(0,0,0,0);
color:#04171E;
}
.card2 button{
  color:#04171E;
  border-color:#04171E;
}
.card3{

background: white/*#57a1fc*/;
border-color:rgba(0,0,0,0);
color:#04171E;
}
.card3 button{
  color:#04171E;
  border-color:#04171E;
}
.card-body a{
  background: transparent;
}

a{
  text-decoration: none;
  color:inherit;
 }

a:hover{
  text-decoration: none;
  color:inherit;
}


  .card-paper{
    margin: auto; border-bottom-left-radius: 15px 255px;
    border-top-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    transition: all 235ms ease 0s;
    box-shadow: 15px 28px 25px -18px rgba(0,0,0,.2);
  }



.tile img{
  height:25vh;
  margin:auto;
}
.tile {
  text-align: center;

}

.wsname{
  padding-top: 3vh;
  font-size: 1.2rem;
  height:13vh;
  text-transform: none;
}
.wstile{
  text-align: center;
}
.wstile img{
height:30vh;
margin:auto;
vertical-align: middle;
}


.footerdiv{
  padding: 0px;
  overflow-x: hidden;
  overflow:hidden;
}
.footercard{
  width:103vw;
  overflow-x: hidden;
  background-color: white;
  
  margin-bottom:0px;
   margin: auto; 
   border-bottom-left-radius: 225px 15px;;
    border-bottom-right-radius: 15px 225px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    transition: all 235ms ease 0s;
    box-shadow: 15px 28px 25px -18px rgba(0,0,0,.2);
    overflow: hidden;
    font-size: 1.6rem;


}
.footercard .card-title{
  font-size: 1.6rem;
}
.footerrow{
   margin-bottom:0px;
   overflow :hidden;

}
.footercard img{
  height: 7vh;
 
}
.footercontent{
  overflow:hidden;
}
.footercontent col{
  padding:0px;
}
.footercontent .card-text{
  font-size: 1.2rem;
}
.wsmodalimage{
  height: 80vh; 
  margin: auto;
  object-fit: cover;
  border-radius: 0px;
  border-color:rgba(0,0,0,0);
}
nav ul.inline li a{
  font-size: 1rem;
}

article .article-title{
  font-size: 2rem;
}


.drishtilogo{
  height:40vh;
  margin: auto;
}


@-webkit-keyframes ani-mouse {
  0% {
  opacity: 1;
  top: 29%;
  }
  15% {
  opacity: 1;
  top: 50%;
  }
  50% {
  opacity: 0;
  top: 50%;
  }
  100% {
  opacity: 0;
  top: 29%;
  }
}
@-moz-keyframes ani-mouse {
  0% {
  opacity: 1;
  top: 29%;
  }
  15% {
  opacity: 1;
  top: 50%;
  }
  50% {
  opacity: 0;
  top: 50%;
  }
  100% {
  opacity: 0;
  top: 29%;
  }
}
@keyframes ani-mouse {
  0% {
  opacity: 1;
  top: 29%;
  }
  15% {
  opacity: 1;
  top: 50%;
  }
  50% {
  opacity: 0;
  top: 50%;
  }
  100% {
  opacity: 0;
  top: 29%;
  }
}
 .scroll-btn {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 87vh;

}
.scroll-btn > * {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #7f8c8d;
  color: #000000;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  background: transparent;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
  color: #000000;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 4vh;
  height: 6vh;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid #241c1c;
  border-radius: 23px;
}
.scroll-btn .mouse > * {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: #241c1c;
  border-radius: 50%;
  -webkit-animation: ani-mouse 2.5s linear infinite;
  -moz-animation: ani-mouse 2.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite;
}




@media (min-width: 1366px) and (max-width:1800px){


.footercard img{
  height: 4vh;
 
}

}
@media (min-width: 900px) and (max-width: 1025px){
.wsmodalimage{
  height:30vh;
}

.footercard img{
  height: 4vh;
 
}

}
@media  (max-width: 770px) and (min-width: 760px){
  .footercard img{
  height: 3vh;
 
}

}


@media (max-width: 480px){


.wsname{
  height:10vh;
}
.wsmodalimage{
  height:50vh;
}


  }